.canvas{
    border:3px #F2A516 solid;
    background-color:white;
    position:absolute;
    display: inline;
    opacity: 1;
}

#canvas-draft{
    display: inline;
    background-color: transparent;
}

body{
    overflow: show;
}

.tools {
    background-color: #2CB474;
}

input {
    display: none;
}


.buttons {
    width: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 2vw;
    margin: 20px 0px 20px 20px;
    padding: 0px;
}

.content {
    display: flex;
    flex-direction: row;
    background-color: purple;
}

.btn-primary {
    width: 80px;
    height: 35px;
    background-image: linear-gradient(to bottom,#60B4D9 0,#60B4D9 100%);
    background-repeat: repeat;
}
.btn {
    border: 0px;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #193F71;
    border-color: #193F71;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
#color-input {
    display: none;
}

.color {
    position: relative;
    height: 500px;
    margin: 18px;
}

#color-label {
    margin: 15px 0px 5px 5px;
    position: absolute;
    height: 35px;
    width: 35px;
    border: solid 3px #193F71;
} 

#color-input:checked ~ #color-picker {
    opacity: 1;
}

#color-strip {
    position: absolute;
    opacity: 1;
    margin: 15px 0px 10px 45px;
    border: solid 3px #193F71;
}

#color-block {
    position: absolute;
    border: solid 3px #193F71;
    margin: 60px 0px 0px 5px;
}

canvas:hover {
    cursor: crosshair;
}

/* button text */

#draw-rectangle:hover {
font-size: 0px;
}
                                    
#draw-rectangle:hover:after {
content: attr(data-hover);
font-size: 13px;
display: flex;
justify-content: center;
align-content: center;
text-align: center;
text-transform: uppercase;
}

#draw-freehand:hover {
font-size: 0px;
}
                                    
#draw-freehand:hover:after {
content: attr(data-hover);
font-size: 13px;
display: flex;
justify-content: center;
align-content: center;
text-align: center;
text-transform: uppercase;
}

#draw-circle:hover {
font-size: 0px;
}
                                        
#draw-circle:hover:after {
content: attr(data-hover);
font-size: 13px;
display: flex;
justify-content: center;
align-content: center;
text-align: center;
text-transform: uppercase;
}

#draw-polygon:hover {
font-size: 0px;
}
                                            
#draw-polygon:hover:after {
content: attr(data-hover);
font-size: 13px;
display: flex;
justify-content: center;
align-content: center;
text-align: center;
text-transform: uppercase;
}

#draw-text:hover {
font-size: 0px;
}
                                                
#draw-text:hover:after {
content: attr(data-hover);
font-size: 13px;
display: flex;
justify-content: center;
align-content: center;
text-align: center;
text-transform: uppercase;
}

#filling:hover {
font-size: 0px;
}
                                                
#filling:hover:after {
content: attr(data-hover);
font-size: 13px;
display: flex;
justify-content: center;
align-content: center;
text-align: center;
text-transform: uppercase;
}

#draw-eraser:hover {
font-size: 0px;
}
                                
#draw-eraser:hover:after {
content: attr(data-hover);
font-size: 13px;
display: flex;
justify-content: center;
align-content: center;
text-align: center;
text-transform: uppercase;
}

#expand:hover {
font-size: 0px;
}
                                                    
#expand:hover:after {
content: attr(data-hover);
font-size: 13px;
display: flex;
justify-content: center;
align-content: center;
text-align: center;
text-transform: uppercase;
}

#redo:hover {
font-size: 0px;
}
                                                    
#redo:hover:after {
content: attr(data-hover);
font-size: 13px;
display: flex;
justify-content: center;
align-content: center;
text-align: center;
text-transform: uppercase;
}

#undo:hover {
font-size: 0px;
}
                                                    
#undo:hover:after {
content: attr(data-hover);
font-size: 13px;
display: flex;
justify-content: center;
align-content: center;
text-align: center;
text-transform: uppercase;
}

#draw-ellipse:hover {
font-size: 0px;
}
                                                    
#draw-ellipse:hover:after {
content: attr(data-hover);
font-size: 13px;
display: flex;
justify-content: center;
align-content: center;
text-align: center;
text-transform: uppercase;
}

#draw-line:hover {
font-size: 0px;
}
                                                        
#draw-line:hover:after {
content: attr(data-hover);
font-size: 13px;
display: flex;
justify-content: center;
align-content: center;
text-align: center;
text-transform: uppercase;
}

#draw-arc:hover {
font-size: 0px;
}
                                                        
#draw-arc:hover:after {
content: attr(data-hover);
font-size: 13px;
display: flex;
justify-content: center;
align-content: center;
text-align: center;
text-transform: uppercase;
}

#draw-quadratic:hover {
font-size: 0px;
}
                                                            
#draw-quadratic:hover:after {
content: attr(data-hover);
font-size: 13px;
display: flex;
justify-content: center;
align-content: center;
text-align: center;
text-transform: uppercase;
}

#drawing-clear:hover {
font-size: 0px;
}
                                                                
#drawing-clear:hover:after {
content: attr(data-hover);
font-size: 13px;
display: flex;
justify-content: center;
align-content: center;
text-align: center;
text-transform: uppercase;
}